body {
    font-family: sans-serif;
}
h1 {
    text-align: center;
}
h2 {
    text-align: center;
}
h2 span {
    font-size: 0.7em;
}
.ward {
    font-size: 20vm;
}
.grid {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(100px, 2fr));
}
.item {
    border-radius: 10px;
    padding: 5px;
    text-align: center;
}
.main {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}
.footer {
    margin-left: auto;
    margin-right: auto;
}
.message {
    text-align: center;
}
.data {
    text-align: center;
}
.copyright {
    text-align: center;
}
.plus {
    font-weight: bold;
}
.level5 {
    color: white;
    background: rgb(145, 21, 30);
}
.level5 .emphasis {
    color: yellow;
}
.level4 {
    color: white;
    background: rgb(217, 28, 39);
}
.level4 .emphasis {
    color: yellow;
}
.level3 {
    color: white;
    background: rgb(218, 111, 40);
}
.level3 .emphasis {
    color: yellow;
}
.level2 {
    background: rgb(229, 190, 49);
}
.level2 .emphasis {
    color: red;
}
.level1 {
    background: rgb(234, 225, 149);
}
.level1 .emphasis {
    color: red;
}
